@tailwind base;
@tailwind components;
@tailwind utilities;
.from-slate-300 {
    background-image: linear-gradient(to left, #f9828d 50%, #cbd5e1 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: all 1s ease 0s;
}
.hover\:bg-right-bottom:hover {
    background-position: -100% 0;
    background-image: linear-gradient(to left, #f9828d 50%, #cbd5e1 50%);
}